<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="../css/global.css" media="all">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <style>
        td,th
        {
            white-space: nowrap;
        }
    </style>
</head>

<body>
<div class="admin-main">
    <blockquote class="layui-elem-quote">
        <button  class="layui-btn layui-btn-small" id="addBtn" lay-filter="addBtn">
            <i class="layui-icon">&#xe608;</i> 添加项目
        </button>
    </blockquote>
    <fieldset class="layui-elem-field">
        <legend>项目列表</legend>
        <div class="layui-field-box layui-form">
            <table class="layui-table admin-table">
                <thead>
                <tr>
                    <th>项目名称</th>
                    <th>操作</th>
                    <th>查看详情</th>
                </tr>
                </thead>
                <tbody id="content">
                </tbody>
            </table>
        </div>
    </fieldset>
    <div class="admin-table-page">
        <div id="paged" class="page">
        </div>
    </div>
</div>

<div id="tpl_add" style="display: none;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend id="legendName">项目添加</legend>
    </fieldset>

    <form id="tpl_form" class="layui-form" action="#">
        <div class="layui-form-item">
            <label class="layui-form-label">项目名称</label>
            <div class="layui-input-block" style="width: 480px;">
                <input id="name" type="text" name="name" lay-filter="name" lay-verify="required" autocomplete="off" placeholder="请输入项目名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="btnSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                <button class="layui-btn layui-btn-primary" lay-filter="btnBack">返回</button>
            </div>
        </div>
    </form>

</div>
<!--模板-->
<script type="text/html" id="tpl_query">
    {{# layui.each(d.list, function(index, item){ }}
    <tr>
        <!--<td>{{ index+1 }}</td>-->

        <td>{{ item.name }}</td>
        <td>
            <div class="layui-btn-group">
                <button class="layui-btn layui-btn-small btnEdit" data-id="{{ item._id }}">
                    <i class="layui-icon">&#xe642;</i>
                </button>
                <button class="layui-btn layui-btn-small btnDel" data-id="{{ item._id }}">
                    <i class="layui-icon">&#xe640;</i>
                </button>
            </div>
        </td>
        <td>
            <a href="/projectlist/detail?id={{item._id}}"><i class="layui-icon btnDetail" data-index="{{index}}"></i></a>
        </td>

    </tr>
    {{# }); }}
    {{#  if(d.list.length === 0){ }}
    无数据
    {{#  } }}
</script>

<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript" src="js/dateFormater.js"></script>
<script>
    layui.use(['form', 'jquery','upload','laytpl'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,$ = layui.jquery
            ,laytpl = layui.laytpl

        //修改项目的ID
        var _id = '';
        //监听提交
        form.on('submit(btnSubmit)', function(data){
            if(_id){
                data.field.id = _id;
                $.post('/projectlist/update',data.field,function (res) {
                    if(res.code == 200){
                        get_project(1,100);
                        layer.msg(res.msg);
                        $('.admin-main').show();
                        $('#tpl_form').get(0).reset();
                        $('#tpl_add').hide();
                    }else{
                        layer.msg(res.msg);
                    }
                });
            }else{
                $.post('/projectlist/add',data.field,function (res) {
                    if(res.code == 200){
                        get_project(1,100);
                        layer.msg('添加成功');
                        $('.admin-main').show();
                        $('#tpl_form').get(0).reset();
                        $('#tpl_add').hide();
                    }else{
                        layer.msg(res.msg);
                    }
                });
            }

            return false;
        });

        form.on('submit(btnBack)', function(data){
            $('.admin-main').show();
            $('#tpl_add').hide();
            $('#tpl_form').reset();
            return false;
        });

        $(document).on('click','#addBtn',function () {
            $('.admin-main').hide();
            $('#tpl_add').show();
            $("#name").removeAttr('disabled');
            $("#legendName").text('项目添加');
            _id = '';
        });

        $(document).on('click','.btnEdit',function () {
            $('.admin-main').hide();
            $('#tpl_add').show();

          //  $("#name").attr('disabled','disabled');
            $("#legendName").text('项目更新');

            var tr = $(this).parent().parent().parent();

            $('input[name="name"]').val(tr.find('td:eq(0)').text());
            form.render('checkbox');
            _id = $(this).attr('data-id');

        });

        $(document).on('click','.btnDel',function () {
            var id = $(this).attr('data-id');
            $.post('/projectlist/delect',{id:id},function (res) {
               if(res.code == 200){
                   layer.msg('删除成功');
                   get_project(1,100);
               } else{
                   layer.msg('删除失败',{icon:6});
               }
            });
        });

        //init
        function get_project(page,size) {
            $.get('/projectlist/querylist',{page:page,size:size},function (res) {
                var data = {
                    "title":"项目数据"
                    ,"list":res.data
                };
                var getTpl = tpl_query.innerHTML
                    ,view = document.getElementById('content');
                laytpl(getTpl).render(data, function(html){
                    view.innerHTML = html;
                });
            });
        }

        get_project(1,100);
    });

</script>
</body>

</html>
